<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Faculdade FMJ de Tecnologia{% endblock %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/diciplina_si.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <div class="container">
        <a href="#"><i class="fa fa-chevron-up " aria-hidden="true"></i></a>
        <header class="navigation"> <!-- top navigation -->
            <nav>
                <ul>
                    <li><a class="homeBT" href="{% url 'home' %}">Home</a></li>
                    <li><a class="BT3" href="{% url 'cursos' %}">Cursos</a></li>
                    <li><a class="BT4" href="{% url 'noticias' %}">Noticias</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="BT4" href="{% url 'logout' %}">Sejá bem vindo {{ user.username }} (sair)</a></li>
                    {% else %}
                        <li><a class="BT4" href="{% url 'login' %}">Acesso Restrito</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="logo"></div>
        </header>
        <h2>Sistemas de Informação</h2>
        <p class="text1"> Business Agility & Computação Cognitiva</p>
        <section class="sv1"> <!-- Div da noticia -->
            <div class="imagem01"></div>
            <div class="software">
                <h3>1º Semestre</h3>
                <p>Comunicação e Expressão: 80 horas (EAD)<br>
                    Fundamentos de Banco de Dados: 80 horas<br>
                    Introdução à Internet das Coisas - IoT: 80 horas<br>
                    Linguagem de Programação I: 80 horas<br>
                    Lógica de Programação: 80 horas<br>
                    Matemática Aplicada: 80 horas</p>
                <p>Subtotal: 480 horas</p>
                <h3>2º Semestre</h3>
                <p>Ambiente de Desenvolvimento e Operação - DevOps: 80 horas<br>
                    Engenharia de Software: 80 horas<br>
                    Gestão de Projetos: 40 horas (EAD)<br>
                    Linguagem de Programação II: 80 horas<br>
                    Linguagem SQL: 80 horas<br>
                    Optativa (Sociedade e Sustentabilidade / Língua Brasileira de Sinais - LIBRAS): 40 horas (EAD)<br>
                    Tecnologia Web: 80 horas</p>
                <p>Subtotal: 480 horas </p>
                <h3>3º Semestre</h3>
                <p>Análise e Modelagem de Sistemas: 80 horas<br>
                    Desenvolvimento de Aplicações Distribuídas: 80 horas<br>
                    Estrutura de Dados: 80 horas<br>
                    Interface Homem-Computador: 40 horas (EAD)<br>
                    Engenharia de Requisitos: 80 horas<br>
                    Oficina Projeto Empresa 1 - OPE1: 120 horas (40 EAD)</p>
                <p>Subtotal: 480 horas</p>
                <h3>4º Semestre</h3>
                <p>Arquitetura e Projeto de Sistemas: 80 horas<br>
                    Desenvolvimento para Dispositivos Móveis: 80 horas<br>
                    Desenvolvimento para Internet das Coisas - IoT: 80 horas<br>
                    Legislação e Ética: 40 horas (EAD)<br>
                    Oficina Projeto Empresa 2 - OPE2: 120 horas (40 EAD)<br>
                    Qualidade de Software: 80 horas</p>
                <p>Subtotal: 480 horas</p>
                <h3>5º Semestre</h3>
                <p>Business Agility: 80 horas<br>
                    Desenvolvimento de Sistemas de Informação: 80 horas<br>
                    Startup e Inovação: 80 horas<br>
                    Teoria da Computação: 80 horas</p>
                <p>Subtotal: 320 horas</p>
                <h3>6º Semestre</h3>
                <p>Análise de Viabilidade de Projetos: 80 horas<br>
                    Análise Exploratória de Dados: 80 horas<br>
                    Gestão de Projetos de Inovação: 80 horas<br>
                    Integração e Desenvolvimento de Sistemas: 80 horas</p>
                <p>Subtotal: 320 horas </p>
                <h3>7º Semestre</h3>
                <p>Business Intelligence: 80 horas<br>
                    Segurança e Auditoria de Sistemas: 80 horas<br>
                    Gestão de Infraestrutura de TI: 80 horas<br>
                    Trabalho de Conclusão de Curso 1 - TCC1: 80 horas</p>
                <p>Subtotal: 320 horas</p>
                <h3>8º Semestre</h3>
                <p>Computação Cognitiva: 80 horas<br>
                    Governança de TI: 80 horas<br>
                    Sistemas Integrados de Gestão: 80 horas<br>
                    Trabalho de Conclusão de Curso 2 - TCC2: 80 horas</p>
                <p>Subtotal: 320 horas</p>
                <p>Atividades Complementares: 160 horas </p>
            </div>
        </section>
        <footer>
            <p class="fim">FMJ &copy; All Rights Reserved</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
        </footer>
    </div> <!-- container -->
    </body>
{% endblock %}