<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Faculdade FMJ de Tecnologia{% endblock %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/noticia.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <div class="container">
        <a href="#"><i class="fa fa-chevron-up " aria-hidden="true"></i></a>
        <header class="navigation"> <!-- top navigation -->
            <nav>
                <ul>
                    <li><a class="homeBT" href="{% url 'home' %}">Home</a></li>
                    <li><a class="BT3" href="{% url 'cursos' %}">Cursos</a></li>
                    <li><a class="BT4" href="{% url 'noticias' %}">Noticias</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="BT4" href="{% url 'logout' %}">Sejá bem vindo {{ user.username }} (sair)</a></li>
                    {% else %}
                        <li><a class="BT4" href="{% url 'login' %}">Acesso Restrito</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="logo"></div>
        </header>
        <h2>Noticias sobre o mundo da tecnologia</h2>
        <p class="text1"> e muito mais </p>

        <section class="sv1"> <!-- Div da noticia -->
            <div class="imagem01"></div>

            <div class="software">
                <h3>Confira 5 vantagens de cursar uma pós-graduação</h3>
                <p>Embora uma graduação seja suficiente para conseguir um bom emprego, hoje o profissional precisa
                    considerar as vantagens da pós-graduação, caso queira continuar evoluindo em sua carreira no mercado
                    de
                    trabalho.</p>
                <p>No mundo atual, cada vez mais competitivo, mutável e exigente, os benefícios de um diploma de
                    especialização ajudam o estudante a se diferenciar entre a maioria e continuar sendo um empregado
                    valioso para uma organização.</p>
                <a href="{% url 'n_5vantagens' %}">
                    <button>Saiba Mais</button>
                </a>
                <h3>Engenharia de Software</h3>
                <p>Dados da Associação Brasileira das Empresas de Software (Abes)</a> mostram que, em 2017, o Brasil
                    cresceu
                    4,5% no mercado de hardwares, softwares e de serviços de Tecnologia de Informação (TI). Um
                    crescimento
                    que representa uma grande oportunidade para quem atua na área de engenharia de software.</p>
                <p>Por isso, para quem já trabalha com a área de tecnologia, mas deseja alavancar a sua carreira,
                    procurar
                    um curso de pós-graduação em engenharia de software é a melhor alternativa. A área está crescendo
                    cada
                    vez mais e necessita das melhores qualidades desse profissional da tecnologia.</p>
                <p>Além de oferecer uma boa remuneração para quem tem essa especialização, o mercado está cheio de
                    oportunidades de atuação em empresas de todos os portes. Neste artigo, vamos apresentar 5 motivos
                    para
                    você fazer uma pós nessa área e sair na frente da concorrência. Confira!</p>
                <a href="{% url 'n_engsoftware' %}">
                    <button>Saiba Mais</button>
                </a>
                <h3>Conheça os 9 melhores filmes sobre tecnologia</h3>
                <p>A tecnologia está presente em tudo e, claro, também no. Quem planeja a carreira pensando em trabalhar
                    no
                    setor e ao mesmo tempo gosta de maratonar filmes e séries pode aliar o prazer ao conhecimento. Sabe
                    como? É possível se informar melhor sobre a área usando como inspiração filmes sobre tecnologia.</p>
                <p>A  sempre esteve presente nas histórias produzidas em Hollywood e muitos filmes acabaram virando um
                    sucesso entre os telespectadores. A primeira película que abordou o tema nas telinhas, &ldquo;Viagem
                    à Lua&rdquo;, já tem mais de cem anos desde a sua produção e ainda é lembrada pela capacidade de
                    retratar a viagem do homem a lua, fato considerado impossível para a época.</p>
                <p>A partir daí, diversas outras produções abordaram essa temática e passaram a discutir o impacto da
                    tecnologia na sociedade. E por conta disso, neste post, mostraremos nove exemplos de longas
                    metragens,
                    clássicos ou modernos, em que a tecnologia é a temática central.</p>
                <p>Alguns desses filmes contam ainda a história de  tecnologia atual e os caminhos por eles trilhados
                    para
                    liderarem o mercado no setor. Se você se interessa pelo tema e busca conhecer ainda mais sobre a
                    área,
                    venha com a gente mergulhar neste assunto!</p>
                <a href="{% url 'n_filmes' %}">
                    <button>Saiba Mais</button>
                </a>
                <h3>Marketing Digital</h3>
                <p>Muitas vezes está tudo indo bem na sua carreira profissional, mas ainda falta um pontapé final
                    para alavancá-la de vez. Para isso, é preciso se especializar em alguns temas e se dedicar a algumas
                    áreas, muitas vezes até então impensadas, para se conseguir um cargo reconhecido e obter um salário
                    melhor. Uma opção interessante é fazer um <a
                            href="https://www.impacta.edu.br/mba/mba-em-marketing-digital" target="_blank"
                            rel="noopener">curso
                        de marketing digital</a>.</p>
                <p>Antes de qualquer coisa, é importante entender o que é o . Ele é um conjunto de atividades executadas
                    de
                    forma online para atrair negócios e desenvolver empresas.</p>
                <p>Usando canais como blogs, sites, redes sociais, entre outros, as empresas buscam resolver problemas e
                    chegar até o desejo dos consumidores. A partir de estratégias diversas, como a definição de
                    público-alvo, o uso de uma linguagem certeira e de uma estratégia apropriada, alcança-se a persona
                    procurada. Assim, é possível reverter o trabalho em resultados, com a venda de algum produto ou a
                    difusão de uma ideia, por exemplo.</p>
                <p>Neste post, mostraremos como o tem exigido profissionais com conhecimento e formação em marketing
                    digital
                    e as oportunidades existentes para quem quer se especializar nesta área. Vamos nessa?</p>

                <a href="{% url 'n_marketingdigital' %}">
                    <button>Saiba Mais</button>
                </a>
            </div>
        </section>
        <br/>
        <footer>
            <p class="fim">FMJ &copy; All Rights Reserved</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
        </footer>
    </div> <!-- container -->
    </body>
{% endblock %}